<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
<link href='https://fonts.googleapis.com/css?family=Galada' rel='stylesheet' />
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' />
<link rel="icon" href="https://cdn3.iconfinder.com/data/icons/business-8/512/E-mail-512.png" />
<title>MyAddressBook</title>
</head>
<body>
	<div class="flex-container">
		<div class="header">
			<h1>&#9734; MyAddressBook &#9734;</h1>
		</div>
		<div class="user">
			<h3 th:inline="text" style="padding-right:20px">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
			<form th:action="@{/logout}" method="post">
				<input class="button" type="submit" value="Sign Out"/>
			</form>
		</div>
	<h1>New address:</h1>
	<form th:object="${address}" th:action="@{save}" action="#" method="post">
		<label for="firstName">First name:</label>
		<input type="text" id="firstName" th:field="*{firstName}" />
		<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Please give first name</label>
		<br />
		<label for="lastName">Last name:</label>
		<input type="text" id="lastName" th:field="*{lastName}" />
		<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Please give last name</label>
		<br />
		<label for="street">Street:</label>
		<input type="text" id="street" th:field="*{street}" />
		<label th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Please give street address</label>
		<br/>
		<label for="postalCode">Postal Code:</label>
		<input type="text" id="postalCode" th:field="*{postalCode}" />
		<label th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Please give postal code</label>
		<br />
		<label for="city">City:</label>
		<select id="citylist" th:field="*{city}" class="form-control">
       			<option th:each="city: ${cities}" th:value="${city.cityid}" th:text="${city.name}"></option>
    	</select>
    	<br />
		<input class="button" type="submit" value="Save"></input>
	</form>
	</div>
</body>
</html>