<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h1>New address:</h1>
	<form th:object="${address}" th:action="@{save}" action="#" method="post">
		<label for="firstName">First name:</label>
		<input type="text" id="firstName" th:field="*{firstName}" />
		<br />
		<label for="lastName">Last name:</label>
		<input type="text" id="lastName" th:field="*{lastName}" />
		<br />
		<label for="street">Street:</label>
		<input type="text" id="street" th:field="*{street}" />
		<br/>
		<label for="postalCode">Postal Code:</label>
		<input type="text" id="postalCode" th:field="*{postalCode}" />
		<br />
		<label for="city">City:</label>
		<select id="citylist" th:field="*{city}" class="form-control">
       			<option th:each="city: ${cities}" th:value="${city.cityid}" th:text="${city.name}"></option>
    	</select>
		<input type="submit" value="Save"></input>
	</form>
</body>
</html>